.container-fluid{

   background-color: #ffdece;

}
.form-control:focus {
    border-color: #fb8500;
    box-shadow: 2px 2px 2px rgba(247, 149, 3, 0.075);
}
 select option:hover {
   background:red !important;
    }
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:orange;
  }
  