<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right bg-dark" id="sidebar-wrapper">
      
      <div class="sidebar-heading">
        <img class="logo1" src="../../../assets/site.png"> GYM LOVER</div>
      <div class="list-group list-group-flush">
        <a href="#"  class="list-group-item list-group-item-action bg-dark b1 ">Home</a>
        <a href="#"  class="list-group-item list-group-item-action bg-dark b1 ">About us</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark b1">Plan</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark b1">Member Detail</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark b1">Contact</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark b1">FAQ</a>
        <hr>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    
    <!-- /#page-content-wrapper -->
  </div>
